/* FONTS STYLING */
html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/OpenSans-Bold.ttf);
 }
 @font-face {
    font-family: medieval;
    src: url(fonts/Enchanted-Land.otf);
 }
 h1 {
     font-size: 50px;
    font-family: medieval;
 }
h5{
    font-family: medieval;
    font-size: 50px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

 p{
     font-size: 14px;
     font-weight: 400;
 }



/* HEADER STYLING */
.header{
    /*background-color: black;*/
    background-image: url(images/header_baggrund.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /*text-align: center;*/
    /*padding-top: 17px;*/
    /*height: 100vh;*/
    height: 100vh;
    max-height: 100vh;
    position:relative;
    z-index: 1000;
}
#header-content{
    height: 100vh;
    max-height: 100vh;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#header-info-container{

    /*position: relative;*/
    width: 0;
    height: 0;
    background-color: red!important;
}
#header-info-text{
    position: absolute;
    left: 17px;
    top: 17px;
    font-family: medieval;
    font-size: 2.5em;
    z-index: 4000;
}
#header-logo{
    width: 25%;
}
#header-logo-text{
    font-size: 10em;
    margin-bottom: 0;
}
#logo-text-container{
    /*background-color: green;*/
    width: 100%;
    text-align: center;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow{
    height: 20%;
    max-height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue;*/
}
.arrow-down{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.arrow-down::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: -74%;
    left: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
.arrow-img{
    font-size: 2.7em;
}
@media screen and (max-width: 1000px) {
    #header-logo-text{
        font-size: 8em;
    }
    #header-info-text{
        font-size: 2em;
    }
    .arrow{
        width: 2.5em;
    }
}
@media screen and (max-width: 800px) {
    #header-logo-text{
        font-size: 6em;
    }
    /*#header-info-text{
        font-size: 1.5em;
    }*/
    .arrow{
        width: 1.9em;
    }
}


#admin{
    display: block;
    height: 25%;
    width: 13.5%;
/*     background: grey; */
    position: absolute;
    top: 0px;
    left: 66%;
}


.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
.info-waypoint{
    background-color: red;
    
}

.info{
    
    color: white;
    /*background-color: red;*/
    /*background-image: url(images/info.png);
    background-position: center;
    background-repeat: no-repeat;*/
    /*position:fixed;*/
    /*top:0;*/
    /*width:10%;*/
    z-index:1000;
    /*padding-top: 5%;*/
    margin-left: 1%;
    width: 11%;
    min-width: 70px;
    position: absolute;
}
.info-img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}
.info-btn{
    opacity: 0;
    position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.background { 
    /*background: url(Images/forestBackground.jpg) repeat-y; background-size: 100%;*/
}
.background-one{
    position: relative;
    width: 100%;
}
.background-fade-in{
    position: relative;
    width: 100%;
    background-color: red;
}
.gradient-one{
    position: absolute;
    background: rgb(0,0,0);
background: linear-gradient(205deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 32%);
width: 100%;
height: 100%;
}
.gradient-two{
    position: absolute;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 23%, rgba(0,0,0,0) 79%);
width: 100%;
height: 100%;
}

.background-image{
    width: 100%;
    display: block;
    text-align: center;
}
.absolute{
    position: absolute;
    z-index: 1400;
}
.relative{
    position: relative;
}
.background-image-content{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  z-index: 1300;
}
.background-image-content2{
    position: absolute;
    top: 65.5%;
    
   
    background-color: grey;
    /*height: 10px;*/
    z-index: 1330;
    width: 100%;
}
.background-image-absolute{
    position: absolute;
}
.absolute{
    position: absolute;
}
.hus{
    
    
}
.hus-image{
    width: 100%;

}

.Excaliburheader {
    font-size: 40px;
    text-align: center;
    padding-bottom: 70px;
}

.modal-contentst {
    background-image: url(images/bannerscroll2.png) !important;
    background-repeat: no-repeat;
    margin-top: 30%;
    width: 100%;
}

@media screen and (min-width: 501px) and (max-width: 993px) {
    .modal-contentst {
        background-image: url(images/bannerscroll3.png) !important;
        margin-top: 50%;
    }
    .Excaliburheader {
        font-size: 25px;
        margin-top: -20px;

    }
    
}

@media screen and (max-width: 500px) {
    .modal-contentst {
        background-image: url(images/bannerscroll4.png) !important;
        margin-top: 50%;
    }
    .Excaliburheader {
        font-size: 20px;
        margin-top: -20px;

    }
    
}

/* ------Excalibur------- */
.sværdsten {
    width: 8%;
    height: 8%;
    position: absolute;
    bottom: 2%;
    left: 46%;
}


#hus1, #hus2, #hus3, #hus4, #hus5, #hus6{
    cursor:pointer;
}
/* HUSE INDIVIDUEL STYLE */
#hus1{
    background: transparent url('Images/background/borg/house1.png') no-repeat;
    background-size: 100%;
/*     background-color: rgba(255, 0, 0, 0.4); */
    height: 23%;
    width: 34.6%;
    top: 29%;
    left: 3%;
    z-index: 1001;
}
#hus1:hover{
    background: transparent url('Images/background/borg/house1-hoverv2.png') no-repeat;
    background-size: 100%;
}

#hus2{
    background: transparent url('Images/background/borg/house2.png') no-repeat;
    background-size: 100%;
/*     background-color: rgba(255, 0, 0, 0.4); */
    height: 26.8%;
    width: 34.8%;
    top:25.8%;
    right: 4%;
    z-index: 1001;
}
#hus2:hover{
    background: transparent url('Images/background/borg/house2-hoverv2.png') no-repeat;
    background-size: 100%;
}
#hus3{
    background: transparent url('Images/background/borg/house3.png') no-repeat;
    background-size: 100%;
/*     background-color:rgba(0,255,0,0.3); */
    height: 25%;
    width: 43.1%;
    top: 49.2%;
    left: 1.7%;
    z-index: 1002;
}
#hus3:hover{
    background: transparent url('Images/background/borg/house3-hoverv2.png') no-repeat;
    background-size: 100%;
}
#hus4{
    background: transparent url('Images/background/borg/house4.png') no-repeat;
    background-size: 100%;
/*     background-color:rgba(0,255,0,0.3); */
    height: 22.6%;
    width: 41.7%;
    top: 51.2%;
    right: 3.4%;
    z-index: 1002;
}
#hus4:hover{
    background: transparent url('Images/background/borg/house4-hoverv2.png') no-repeat;
    background-size: 100%;
}
#hus5{
    background: transparent url('Images/background/borg/house5.png') no-repeat;
    background-size: 100%;
/*     background-color:rgba(0,0,255,0.3); */
    height: 23%;
    width: 35.5%;
    top: 68.1%;
    left: 1.3%;
    z-index: 1003;
}
#hus5:hover{
    background: transparent url('Images/background/borg/house5-hoverv2.png') no-repeat;
    background-size: 100%;
}
#hus6{
    background: transparent url('Images/background/borg/house6.png') no-repeat;
    background-size: 100%;
/*     background-color:rgba(0,0,255,0.3); */
    height: 26.7%;
    width: 42.1%;
    top: 67.8%;
    right: 0;
    z-index: 1003;
}
#hus6:hover{
    background: transparent url('Images/background/borg/house6-hoverv2.png') no-repeat;
    background-size: 100%;
}
.background-content{

}
.borgmur{
    position: absolute;
    width: 100%;
    top: 15.1%;
    z-index: 1000;
}
.barn-img{
    width: 69%;
    float: right;
}

.walk {
	width: 100px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -100px;
    }
#scrollDiv {
    /*height:5000px;*/
}

#sprite{
    z-index: 1;
    
    /*z-index: -1;*/


}

.first {
    /*position: absolute;*/
    background:green;
    /*height: 5px;*/
    /*width:100%;*/

}
.second {
    background:red;
    height: 2000px;
    width:100%;
}
.stald{
    position: absolute;
    background: orange;
    height: 300px;
    width: 50%;
    left: 25%;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.stald-two{

    background: orange;
    height: 300px;
    width: 50%;
    left: 25%;
    display: flex;
    align-items: center;
    z-index: 1200;
}
.stald-waypoint{
    margin-top: -50px;
    height: 1px;
    
}

.walk {
    width: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.5%;
    /* margin-top: -50px;*/
}




/* MODEL STYLING */
.modal-content{
    background-image: url(images/pergamentpapir.png)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    /*background-size: cover;*/
    /*background-size: cover;*/
    background-size: 195% 120%!important;
}
.by-modal{
    background:white url("images/wood-frame/wood-frame-middle.png") repeat-y center!important;

}
/*.modal-body-by{
    background-color: red;
    width: 100%;
    padding: 0;
}*/


.modal-header {
    border-bottom: 0;
}

.modal-footer{
    border-top: 0;
    
}
.modal-body{
    padding: 0 1rem 1rem 1rem;
}
.modal-title{
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}


@media only screen and (max-width: 1950px) {
    #hest{
        width: 200px;
        height: 200px;
        position: absolute;
        display: none;
        z-index: 999;
        top: 910px;
    }
}

@media only screen and (max-width: 1400px) {
    #hest{
        top: 800px;
    }
}

@media only screen and (max-width: 1200px) {
    #hest{
        position: none;
    }
  }

.hus1{
    background: grey;
    height: 200px;
    width: 200px;
    /* position: relative; */
    z-index: 999;
    
}

#arrangementer{
    background: grey;
    height: 700px;
    width: 1200px;
    position: fixed;
    top: 0;
}

.lille{
    background-image: url(Images/Lille_perchmant.png);
}

/* #lill1{
    background: ;
}

#stor1{
    background: ;
} */

/* FOOTER */
footer{
    background-image: url(images/parchmentstor.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /*background-size: cover;*/
    /*background-size: cover;*/
    position:relative;
    z-index: 1000;

}

footer h5{
    font-size: 4em!important;
}
footer .card-body{
    text-align: center;
}

footer .card{
    border: none;
    background-color: transparent;
    
}

footer .form-control{
    margin: 0 auto 20px auto;
    width: 70%;   
}
footer .btn{
    background-color: black;
    border-color: black;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
    color: white;
}
footer .btn:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.copyright{
    /*background: rgba(0, 0, 0, 0.1);*/
    padding: 20px 0 20px 0;
    font-weight: 100;
}


footer .card-title{
    margin-bottom: 0;
}

footer .card-body h6{
    font-size: 1.3em;
}





/* HEADER INFO KNAP */


/*.infobtnflamingo {
    outline: none;
    margin: 5rem;
    border: 0;
    background: transparent;
    padding: 12px 48px;
    height: 50px;
    width: 200px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5rem auto;
    user-select: none;
}*/

.infobtnflamingo:hover,
.infobtnflamingo:before,
.infobtnflamingo:hover:before,
.infobtnflamingo:after,
.infobtnflamingo:hover:after,
.infobtnflamingo span:before,
.infobtnflamingo span:after,
.infobtnflamingo:hover span:before,
.infobtnflamingo:hover span:after {
    transition: all .25s ease;
}
.infobtnflamingo {
    outline: none;
    /*margin: 5rem;*/
    border: 0;
    background: transparent;
    /*padding: 12px 65px;*/
    height: 75px;
    width: 125px;
    position: relative;
    cursor: pointer;
    display: block;
    /*margin: 5rem auto;*/
    user-select: none;
}
.infobtnflamingo:before,
.infobtnflamingo:after,
.infobtnflamingo span:before,
.infobtnflamingo span:after {
    content: '';
    height: 5px;
    width: 20px;
    background: white;
    display: block;
    position: absolute;
}
.infobtnflamingo:before {
    top: 0;
    right: 0;
}
.infobtnflamingo:after {
    bottom: 0;
    left: 0;
}
.infobtnflamingo span:before,
.infobtnflamingo span:after {
    height: 20px;
    width: 5px;
}
.infobtnflamingo span:before {
    right: 0;
    top: 0;
}
.infobtnflamingo span:after {
    bottom: 0;
    left: 0;
}
/*.infobtnflamingo:hover {
    background: rgba(244, 192, 153, 0.75);
}*/
.infobtnflamingo:hover:before {
    transform: translateX(-105px)
}
.infobtnflamingo:hover:after {
    transform: translateX(105px)
}
.infobtnflamingo:hover span:before {
    transform: translateY(55px)
}
.infobtnflamingo:hover span:after {
    transform: translateY(-55px)
}
.infobtnflamingo {
    outline: none;
    /*font-family: "Assistant", Arial, Helvetica, sans-serif;*/
    text-align: center;
    /*font-weight: 800;*/
    /*font-size: 20px;*/

    letter-spacing: 1px;
    color: #24282b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}



.infobtncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent!important;
    color: white!important;
    border: none!important;
    outline: none!important;
}

/* MEDLEM LIST SIDE */

.medlem-list .table td, .medlem-list .table th{
  border-color: black;
}

/* MEDLEM LIST END */

/* BRUGER PROFIL SIDE */

.bruger-profil .table td, .bruger-profil .table th{
  border-color: black;
}

.bruger-profil img{
  object-fit: cover;
  width: 300px;
}


/* BRUGER PROFIL END */

.navbar-nav p{
    font-size: 1.2rem;
    cursor: pointer;
    color: black!important;
}

.navbar-brand{
    cursor: pointer;
    
}

/* OPRET KARAKTER SIDE */

.opret-karakter img{
  object-fit: cover;
  width: 300px;
}

/* OPRET KARAKTER END */






/* GALLERI STYLING */
/* WOOD FRAME STYLE */
.wood-frame img{
    width:100%;
  }
  
  .wood-frame-galleri-content{
    /*background:white url("images/wood-frame/wood-frame-middle.png") repeat-y center;*/
    background-size: 100%;
    padding: 1px 0rem 1px 0rem;
  }
  /* WOOD FRAME STYLE END */
  
  
  
  /* PERKAMENT FRAME */
  .perkament-frame img{
    width:100%;
  }
  
  .perkament-frame-content{
    background:transparent url("images/perkament/perkament-center.png") repeat-y center;
    background-size: 100%;
    padding: 1px 10% 1px 10%;
  }
  /* PERKAMENT FRAME END */
  
  
  
  /* GALLERI SIDE */
  
  .galleri{
      background:transparent url("images/bog.png") no-repeat center;
      background-size:115vw;
      height: 58vw;
      display:flex
  }
  
  
  
  .galleri .card{
    background-color: transparent;
    border:none;
  }
  
  .wrapper{
    display: grid;
    align-items: center;
    width:80vw;
  }
  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
    justify-items:center;
  }
  
  .grid img{
  /*   height: 145px;
    width: 160px; */
    width: 70%;
  }
  
  .right{
    margin-left: 40px;
  }
  
  .top{
    margin-bottom: 40px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-image: none;
  }
  
  .arrow-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: black;
    margin-left: 60px;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
    margin-right: 60px;
  }
  
  
  
  
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: transparent;
  }
  
  /* Fading animation */
  /*.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }*/
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .galleri-responsive{
      background:transparent url("images/book-half.png") no-repeat center;
      background-size:contain;
      height: 135vw;
      padding: 0 15%;
      display: none;
  }
  
  
  
  .galleri .card{
    background-color: transparent;
    border:none;
  }
  
  }
  
  
  @media (max-width: 979px) {
    /* Selectors and styles affecting screens UP TO 979px (Desktop) */
  }
  
  @media (max-width: 767px) {
      /* Selectors and styles affecting screens UP TO 767px (Tablet) */
  
  }
  
  @media (max-width: 600px) {
      /* Selectors and styles affecting screens UP TO 480px (Phone) */
  .galleri{
    display:none;
  }
  .galleri-responsive{
    display: flex;
  }
  .wood-frame-content{
padding:0px 1px;
  }
  }
  /* GALLERI SIDE END */





  /* LOGIN STYLING */
  #login-modal .wood-frame-content{
      background: none;
      
  }




  /* NYHEDER */

.nyheder .card{
    /*     background-color: #ffe151; */
     /*   background-color: #ffe151e6; */
      background-color: #ffffffd4;
    }
    .nyheder .card:hover{
        background-color: #ffe151e0; 
    }
    
    
    .bg-opacity-80:before{
        opacity: .5;
    }
    
    .news-date{
        top: -30px;
    }
    
    .object-fit-news-card{
        object-fit: cover;
        height: 225px;
    }
    
    .news-element2 img{
        object-fit: cover;
        height: 150px;
    }
    
    .news-element2 .news-date{
        top: 120px;
    }
    
    
    .pachement-title-content{
    
    }
    
    /* .event-commercial:hover{
        color: white;
    } */
    
    #nyheder-modal .wood-frame-content{
        background: none;
        
    }
    /* NYHEDER END */



    /* KONTAKT SIDE */

.kontakt-side .card{
    background-color: transparent;
    border: none;
  
  }
  #kontakt-modal .wood-frame-content{
    background: none;
    
}
  
  /* KONTAKT SIDE END */




.info{
    z-index: 4000;
}





.slut{
    
    background-color: red;
    
    width: 50px;
    bottom: 13%;
    width: 100%;
}

#infoModal{
    z-index: 5000;
}

.bottom-part{
    line-height: 0;
}

