
.background { 
    background: url(Images/forestBackground.jpg) repeat-y; background-size: 100%;
}

img {
	width: 100px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -100px;
    }
#scrollDiv {
    height:5000px;
}

#sprite{
    z-index: 1;


}

.first {
    /*position: absolute;*/
    background:green;
    /*height: 5px;*/
    width:100%;

}
.second {
    background:red;
    height: 2000px;
    width:100%;
}
.stald{
    position: absolute;
    background: orange;
    height: 300px;
    width: 50%;
    left: 25%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

img {
    width: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.5%;
    /* margin-top: -50px;*/
}