/* FONTS STYLING */
@font-face {
    font-family: myFirstFont;
    src: url(fonts/OpenSans-Bold.ttf);
 }
 @font-face {
    font-family: medieval;
    src: url(fonts/Enchanted-Land.otf);
 }
 h1 {
     font-size: 50px;
    font-family: medieval;
 }
h5{
    font-family: medieval;
    font-size: 50px;
}





 p{
     font-size: 14px;
     font-weight: 400;
 }



/* HEADER STYLING */
.header{
    /*background-color: black;*/
    background-image: url(images/header_baggrund.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    
    padding-top: 17px;
}
#header-info-container{
    position: relative;
    width: 0;
    height: 0;
}
#header-info-text{
    position: absolute;
    left: 25px;
    top: 0;
    font-family: medieval;
    font-size: 2.5em;
}
#header-logo{
    width: 25%;
}
#header-logo-text{
    font-size: 10em;
}
@media screen and (max-width: 1000px) {
    #header-logo-text{
        font-size: 8em;
    }
    #header-info-text{
        font-size: 2em;
    }
}
@media screen and (max-width: 800px) {
    #header-logo-text{
        font-size: 6em;
    }
    #header-info-text{
        font-size: 1.5em;
    }
}




.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
.info-waypoint{
    background-color: red;
    
}

.info{
    
    color: white;
    /*background-color: red;*/
    /*background-image: url(images/info.png);
    background-position: center;
    background-repeat: no-repeat;*/
    /*position:fixed;*/
    /*top:0;*/
    /*width:10%;*/
    z-index:100;
    /*padding-top: 5%;*/
    margin-left: 1%;
    width: 11%;
    min-width: 70px;
    position: relative;
}
.info-img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}
.info-btn{
    opacity: 0;
    position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.background { 
    background: url(Images/forestBackground.jpg) repeat-y; background-size: 100%;
}

.walk {
	width: 100px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -100px;
    }
#scrollDiv {
    height:5000px;
}

#sprite{
    z-index: 1;


}

.first {
    /*position: absolute;*/
    background:green;
    /*height: 5px;*/
    width:100%;

}
.second {
    background:red;
    height: 2000px;
    width:100%;
}
.stald{
    position: absolute;
    background: orange;
    height: 300px;
    width: 50%;
    left: 25%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.walk {
    width: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.5%;
    /* margin-top: -50px;*/
}




/* MODEL STYLING */
.modal-content{
    background-image: url(images/pergamentpapir.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background-size: cover;*/
    background-size: 195% 120%;
    
}

.modal-header {
    border-bottom: 0;
}

.modal-footer{
    border-top: 0;
    
}
.modal-body{
    padding: 0 1rem 1rem 1rem;
}
.modal-title{
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}

#hest{
    width: 200px;
    height: 200px;
    position: absolute;
    display: none;
    z-index: 999;
    top: 6100px;
}

.hus1{
    background: grey;
    height: 200px;
    width: 200px;
    /* position: relative; */
    z-index: 999;
    margin-top: 10000px;
}

#arrangementer{
    background: grey;
    height: 700px;
    width: 1200px;
    position: fixed;
    top: 0;
}

.lille{
    background-image: url(Images/Lille_perchmant.png);
}

/* #lill1{
    background: ;
}

#stor1{
    background: ;
} */

/* FOOTER */
footer{
    background-image: url(images/parchmentstor.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /*background-size: cover;*/
    /*background-size: cover;*/
    z-index: 1200;

}

footer h5{
    font-size: 4em!important;
}
footer .card-body{
    text-align: center;
}

footer .card{
    border: none;
    background-color: transparent;
    
}

footer .form-control{
    margin: 0 auto 20px auto;
    width: 70%;   
}
footer .btn{
    background-color: black;
    border-color: black;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
    color: white;
}
footer .btn:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.copyright{
    /*background: rgba(0, 0, 0, 0.1);*/
    padding: 20px 0 20px 0;
    font-weight: 100;
}


footer .card-title{
    margin-bottom: 0;
}

footer .card-body h6{
    font-size: 1.3em;
}